.github/**
.ipynb_checkpoints/**
chicago.csv
new_york_city.csv
Project references.txt
Untitled.ipynb
untitled.py
Untitled1.ipynb
untitled1.txt
Untitled2.ipynb
Untitled3.ipynb
washington.csv
untitled.txt

